select { /* 1 */
    text-transform: none;
    text-align: inherit;
}

select {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

body {
    font-family: Arial;
}


.modalPage {
    background-color: #90c2ff;
}

li {
    display: inline;
    float: left;
}

li a {
    color: #3C3C3C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    background-color: white;
    list-style-type: none;
    margin: -1%;
    padding-top: 12px;
    overflow: hidden;
    border-bottom: 1px solid gray;
}

.header {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    font-size: 1.2em;
}

#parent {
    display: table;
    width: 30%;
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

#signUpMessage {
    background-color: #EAE6FF;
    display: table;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

#form_login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5%
}

input[type=file] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5%
}

.loginAndSignUpButtons {
    width: 30%;
    background-color: #0052CC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}



.form-item {
    margin-top: 5%;
    margin-bottom: 3%;
}

.form-header {
    vertical-align: text-top;
    padding: 6%;
}

.test {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    
}

.innerDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #F6F6F6;
    border-radius: 4px;
    width: 18%;
    height: 400px;
    left: 20%;
    float: left;
    text-align: center;
    margin-left: 5%;
}

.ticketDiv {
    background-color: white;
    border-radius: 6px;
    margin: 10px 10px 10px 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.projectRequirementsHeader {
    color: #3C3C3C;
    margin-top: 5%;
    margin-left: 5%;
}

.rolesHeader {
    color: #3C3C3C;
    margin-top: 5%;
    margin-left: 5%;
}

.headerDivTest {
    width: 20%;
    left: 20%;
    float: left;
    text-align: center;
    margin-left: 5%;
}

.rolesButton {
    width: 10%;
    background-color: #0052CC;
    color: white;
    padding: 14px 20px;
    margin: 8px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    float: right;
}

.requirementDivLeft {
    width: 60%;
    float: left;
    height: 500px;
    padding-left: 2%;
    padding-right: 3%;
    border-right: 1px solid gray;
}

.requirementDivRight {
    width: 25%;
    float: left;
    height: 500px;
    padding-left: 5%
    
}

.activityDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #F6F6F6;
    border-radius: 4px;
    width: 90%;
    height: 300px;
    text-align: center;
    margin-left: 5%;
}

.projectDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #EAE6FF;
    border-radius: 4px;
    width: 18%;
    height: 160px;
    left: 20%;
    float: left;
    text-align: center;
    margin-left: 5%;
}

.projectImages {
    margin-top: 3%;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;
}

.projectRequirementsDiv {
    width: 100%;
    height: 400px;
    padding-top: 2%;
}

.projectTicketDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #F6F6F6;
    border-radius: 6px;
    margin: 20px 20px 20px 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 25px;
    cursor: pointer;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
.container input {
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 20%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.emptyProjects {
    background-color: #EAE6FF;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.createBtnPrpl {
    width: auto;
    background-color: #7945EB;
    color: white;
    padding: 14px 20px;
    margin: 8px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

.stateBtn {
    width: 50%;
    background-color: #0052CC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}