li {
    display: inline;
    float: left;
    border-bottom: 1px solid gray;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
}


