@model Reques.Models.ConcreteActivity

@{
    ViewBag.Title = "ActivityView";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Requirements</title>
</head>
<body>
    <div class="body-content">
        <ul>
            <li><img src="~/Content/images/logo_transparent.png" /></li>
            <li class="header"><b>@Model.actividad[0][0]</b></li>
        </ul>

    </div>

    <div style="width: 100%; margin-top: 100px">
        <div class="requirementDivLeft">
            <p><b>Description</b></p>
            <p>@Model.actividad[0][1]</p>

        </div>
        <div class="requirementDivRight">
            <input class="loginAndSignUpButtons" type="button" value="Progress">
        </div>
    </div>


</body>
</html>

