@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <ul>
        <li><img src="~/Content/images/logo_transparent.png"/></li>
        <li class="header"><b>Login</b></li>
    </ul>

    <div id="parent">
        <form id="form_login">
            <div class="form-header">
                <h2><b>Sign In</b></h2>
            </div>

            <div class="form-item">
                <label for="fname">First Name</label><br />
                <input type="text" id="fname" name="firstname" placeholder="Your name.."><br />
            </div>
            
            <div class="form-item">
                <label for="lname">Last Name</label><br />
                <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br />
            </div>

            <div>
                <p>Don't have an account? <a href="">Sign Up Here</a></p>
            </div>

            <input type="submit" value="Submit">
        </form>
    </div>




    @*<div>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container container-fluid">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@

</body>
</html>


