@model Reques.Models.LoginModel

@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="modalPage">
    <div class="body-content">
        <ul>
            <li><img src="~/Content/images/logo_transparent.png" /></li>
            <li class="header"><b>Login</b></li>
        </ul>

    </div>

    @if (@Model.justSignedUp == 1) {
        <div id="signUpMessage">
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-1x" style="color: white; font-size: 36px "></i>
                <i class="fas fa-exclamation-circle fa-stack-1x" style="color: #7945EB; font-size: 36px "></i>
            </span>

            <p>Signup Successful. Please Login</p>
        </div>
    }

    <div id="parent">
        <form id="form_login">
            <div class="form-header">
                <h2><b>Sign In</b></h2>
            </div>

            <div class="form-item">
                <label for="fname">Username</label><br />
                <input type="text" id="fname" name="username" placeholder="Username.."><br />
            </div>

            <div class="form-item">
                <label for="lname">Password</label><br />
                <input type="text" id="lname" name="password" placeholder="Password.."><br />
            </div>

            <div>
                <p>Don't have an account? <a href="/InicioS/SignUp">Sign Up Here</a></p>
            </div>

            <input class="loginAndSignUpButtons" type="submit" value="Login">
        </form>
    </div>

    @section scripts {
        <script>
        $(document).ready(function () {
            $("#form_login").submit(function (e) {
                e.preventDefault();
                url = "@Url.Content("~/InicioS/IniciaSesion")"
                parametros = $(this).serialize();

                $.post(url, parametros, function (data) {
                    if (data == "1") {
                        document.location.href = "@Url.Content("~/InicioS/Projects")"
                    }
                    else {
                        alert(data)

                    }

                })


            })
        })
        </script> }


</body>
</html>


