@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="modalPage">

    <div id="parent">
        <form id="form_login">
            <div class="form-header">
                <h2><b>Sign In</b></h2>
            </div>

            <div class="form-item">
                <label for="fname">Username</label><br />
                <input type="text" id="fname" name="username" placeholder="Username.."><br />
            </div>
            
            <div class="form-item">
                <label for="lname">Password</label><br />
                <input type="text" id="lname" name="password" placeholder="Password.."><br />
            </div>

            <div>
                <p>Don't have an account? <a href="/InicioS/SignUp">Sign Up Here</a></p>
            </div>

            <input type="button" value="Login" onclick="location.href='/InicioS/ProjectRequirements';">
        </form>
    </div>


</body>
</html>


