@model Reques.Models.Mprojects
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PROJECTS</title>
</head>
<body>
    <div class="container body-content">
        <ul>
            <li><img src="~/Content/images/logo_transparent.png" /></li>
            <li class="header"><b>Projects</b></li>
        </ul>

    </div>


    <div class="projectRequirementsHeader">
        <h2>Nombre Proyecto</h2>
    </div>

    <div class="projectImages">



        @for (int index = 0; index < Model.proyectos.Count; index++)
        {
            var l = Model.proyectos[index];

            <div class="projectDiv">
                <a href="/InicioS/ProjectRequirements/@l[1]">Ver Proyecto</a>
                <p>@l[0]</p>
            </div>
        }

    </div>

    <div class="projectRequirementsDiv">

        <div class="projectTicketDiv" onclick="location.href='/InicioS/RequirementView';">
            <p>Ticket 1</p>
        </div>

        <div class="projectTicketDiv" onclick="location.href='/InicioS/RequirementView';">
            <p>Ticket 1</p>
        </div>

    </div>

</body>
</html>

