
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body>
    <div class="body-content">
        <ul>
            <li><img src="~/Content/images/logo_transparent.png" /></li>
            <li class="header"><b>Projects</b></li>
            <li class="header"><a href="/InicioS/CreateProject">Create Project</a></li>
            <li class="header"><a href="/InicioS/CreateRequirements">Create Requirement</a></li>
        </ul>
    </div>


    <div class="projectRequirementsHeader">
        <h2>Nombre Proyecto</h2>
    </div>

    <div class="projectImages">

        <div class="projectDiv">

        </div>

    </div>

    <div class="projectRequirementsDiv">

        <div class="projectTicketDiv" onclick="location.href='/InicioS/RequirementView';">
            <p>Ticket 1</p>
        </div>

        <div class="projectTicketDiv" onclick="location.href='/InicioS/RequirementView';">
            <p>Ticket 1</p>
        </div>

    </div>

</body>
</html>

