
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PROJECTS</title>
</head>
<body>


    <div class="projectRequirementsHeader">
        <h2>Nombre Proyecto</h2>
    </div>

    <div class="projectImages">

        <div class="projectDiv">
        </div>

        <div class="projectDiv">
        </div>

        <div class="projectDiv">
        </div>

        <div class="projectDiv">
        </div>

    </div>

    <div class="projectRequirementsDiv">

        <div class="projectTicketDiv" onclick="location.href='/InicioS/RequirementView';">
            <p>Ticket 1</p>
        </div>

        <div class="projectTicketDiv" onclick="location.href='/InicioS/RequirementView';">
            <p>Ticket 1</p>
        </div>

    </div>

</body>
</html>

