
@{
    ViewBag.Title = "ProjectRequirements";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project Requirements</title>
</head>
<body>


    <div class="projectRequirementsHeader">
        <input class="rolesButton" type="button" value="Roles" onclick="location.href='/InicioS/RolesAndCollaborators';">
        <input class="rolesButton" type="button" value="Projects" onclick="location.href='/InicioS/Projects';">
        <h2>Nombre Proyecto</h2>
        <h4>Version 1.0</h4>

    </div>

    <div class="test">

        <div class="innerDiv">
            <p>Ready for Development</p>

            @for (int index = 0; index < 4; index++) {
                <div class="ticketDiv" onclick="location.href='/InicioS/RequirementView';">
                    <p>Ticket @index</p>
                </div>
            }

        </div>

        <div class="innerDiv">
            <p>Development</p>
        </div>

        <div class="innerDiv">
            <p>Quality Control</p>
        </div>

        <div class="innerDiv">
            <p>Done</p>
        </div>

    </div>

</body>
</html>