@model Reques.Models.Mprojects
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body>
    <div class="body-content">
        <ul>
            <li><img src="~/Content/images/logo_transparent.png" /></li>
            <li class="header"><b>Projects</b></li>
            <li class="header"><a href="/InicioS/CreateProject">Create Project</a></li>
            <li class="header"><a href="/InicioS/CreateRequirement">Create Requirement</a></li>
            <li class="header"><a href="/InicioS/CreateActivity">Create Activity</a></li>
        </ul>
    </div>

    <div class="projectRequirementsHeader">
        <h2>Proyectos</h2>
    </div>

    <div class="projectImages">

        @if (Model.proyectos.Count == 0) {

            <div id="signUpMessage">
                <p>There are no projects here</p><br/>
                <input class="createBtnPrpl" type="button" value="Create Project" onclick="location.href='/InicioS/CreateProject';">
            </div>


        } else {
            for (int index = 0; index < Model.proyectos.Count; index++) {
                var l = Model.proyectos[index];

                <div class="projectDiv">
                    <p>@l[0]</p><br/>
                    <input class="createBtnPrpl" type="button" value="Ver Proyecto" onclick="location.href='/InicioS/ProjectRequirements/@l[1]';">
                </div>
            }
        }

    </div>

    <div class="projectRequirementsDiv">

        <div class="projectRequirementsHeader">
            <h2>My Activities</h2>
        </div>

        @if (Model.actividades.Count == 0) {

            <div id="signUpMessage">
                <p>There are no activities yet</p><br/>
                <input class="createBtnPrpl" type="button" value="Add Activities" onclick="location.href='/InicioS/CreateActivity';">
            </div>


        } else {
            for (int index = 0; index < Model.actividades.Count; index++) {
                var l = Model.actividades[index];

                <div class="projectDiv">
                    <p>@l[1]</p><br />
                    <input class="createBtnPrpl" type="button" value="Ver Actividad" onclick="location.href='/InicioS/ActivityView/@l[0]';">
                </div>
            }
        }

    </div>

</body>
</html>

