
@{
    ViewBag.Title = "RolesAndCollaborators";
    Layout = "~/Views/Shared/_InicioN.cshtml";
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project Requirements</title>
</head>
<body>
    <div class="body-content">
        <ul>
            <li><img src="~/Content/images/logo_transparent.png" /></li>
            <li class="header"><b>Roles and Collaborators</b></li>
        </ul>

    </div>

    <div class="rolesHeader">
        <h2>Roles</h2>
    </div>

    <div class="test">

        <div class="innerDiv">
            <p>Project1</p>
        </div>

        <div class="innerDiv">
            <p>Project2</p>
        </div>

        <div class="innerDiv">
            <p>Project3</p>
        </div>

        <div class="innerDiv">
            <p>Project4</p>
        </div>

    </div>

</body>
</html>